:host {
  display: grid;
  place-content: center;
  padding: 100px 100px;
}

.exp-form__input{
  background: var(--dark-color);
  color: var(--light-color);
  width: 100%;
  padding: 10px 15px;
}

.address-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.red-flag {
  color: red;
}
